{% extends 'partials/base.html.twig' %}

{% block content %}
    {% for event in page.collection %}
<h2>>
<li class="events-wrapper gap flex column">
    <!--Block for event cover-->
    <div class="cover-wrapper w-50">
        {% for image in event.media.images %}
        <img class="cover border-dark" src="{{ image|data_uri }}" alt="Event cover">
        {% endfor %}
    </div>
    <!--Block for event information-->
    <div class="info-container w-50">
        <h1 class="titre"><strong class="artist">{{ event.title|e }}</strong></h1>
        <!--Block for event date-->
        <span class="info-wrapper">
            <p>début: {{ event.header.start_date }} {{ event.header.start_time }}</p>
            <p>fin: {{ event.header.end_date }} {{ event.header.end_time }}</p>
        </span>
        <!--Block for event location-->
        <span class="info-wrapper">
            <p>Où? </p>{{ event.header.venue }}</p>
        </span>
        <li>PAF: {{ event.header.fee }}</li>
        <p class="description border-bottom border-dark">
        {{ event.header.description }}</p>
        <li>images:
        <ul>
        {% for image in event.media.images %}
        <li>{{image|data_uri }}</li>
        {% endfor %}
        </ul>
        </li>
</li>
    {% endfor %}
{% endblock %}
