{% extends 'partials/base.html.twig' %}

{% block content %}
    {% for event in page.collection %}

<li class="event flex gap border-bottom border-dark flex-50 padding-md">
    <!--Block for event cover-->
    <div class="cover-wrapper w-50">
        {% for image in event.media.images %}
        <img class="cover border-dark" src="{{ image.url }}" alt="Event cover">
        {% endfor %}
    </div>
    <!--Block for event information-->
    <div class="info-container w-50">
        <h1 class="titre"><strong class="artist">{{ event.title|e }}</strong></h1>
        <!--Block for event description-->
        <p class="description border-bottom border-dark">{{ event.header.description }}</p>
        <!--Block for event date-->
        <span class="info-wrapper">
            <p>Quand?</p> 
            {% if event.header.start_date == event.header.end_date %}
            <p>Le</p>
            <p>{{ event.header.start_date|date("m/d/Y", "Europe/Paris") }}</p>
            {% else %}
            <p>Du</p>
            <p>{{ event.header.start_date|date("m/d/Y", "Europe/Paris") }}</p>
            <p class="bold"> au </p>
            <p>{{ event.header.end_date|date("m/d/Y", "Europe/Paris") }}</p>
            {% endif %}
        </span>
        <!--Block for event location-->
        <span class="info-wrapper">
            <p>Où?</p>
            <p>{{ event.header.place }}</p>
        </span>
        <!--Block for event fee-->
        <span class="info-wrapper">
            <p>Combien? </p>
            <p>{{ event.header.price }}€</p>
        </span>
        <hr>
        <!--Block for event buttons-->
         <div class="flex gap">
            <button class="add-event flex align-center gap-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar-plus"><path d="M8 2v4"/><path d="M16 2v4"/><path d="M21 13V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h8"/><path d="M3 10h18"/><path d="M16 19h6"/><path d="M19 16v6"/></svg>
                Ajouter
            </button>
            <button class="share flex align-center gap-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-repeat-2"><path d="m2 9 3-3 3 3"/><path d="M13 18H7a2 2 0 0 1-2-2V6"/><path d="m22 15-3 3-3-3"/><path d="M11 6h6a2 2 0 0 1 2 2v10"/></svg>
            </button>
        </div>
</li>
    {% endfor %}
    {# /your/site/grav/user/themes/custom-theme/templates/blog.html.twig #}

{% set collection = page.collection %}

{# Render the list of blog posts (automatically filtered when using pagination) #}
{% for child in collection %}
   ...
{% endfor %}

{# Render the pagination list #}
{% if config.plugins.pagination.enabled and collection.params.pagination %}
    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
{% endif %}
{% endblock %}
