<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="alternate" type="application/atom+xml" title="Demain c'est Bien" href="{{ base_url }}/event.atom" />
    <link rel="alternate" type="application/rss+xml" title="Demain c'est Bien" href="{{ base_url }}/event.rss" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
    {% do assets.addCss('theme://css/custom.css', 98) %}
    {% do assets.addCss('theme://css/style.css', 98) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
    <body class="{{ page.header.body_classes|e }} relative">
    {% block header %}
    
        <header>
                <a class="logo" href="{{ home_url|e }}">
                    <img src="{{ theme_url }}/images/logo.svg">
                </a>
                <div class="gif-container">
                    <img class="gif" src="{{ theme_url }}/images/gif-banner.gif">
                </div> 
                <div class="giphy fixed left" style="background-image:url('{{ theme_url }}/images/giphy.gif')">
                </div>
                
                {% if pages.header.template == events %} 
                <a href="/add-event" class="add fixed right flex align-center gap-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-atom"><circle cx="12" cy="12" r="1"/><path d="M20.2 20.2c2.04-2.03.02-7.36-4.5-11.9-4.54-4.52-9.87-6.54-11.9-4.5-2.04 2.03-.02 7.36 4.5 11.9 4.54 4.52 9.87 6.54 11.9 4.5Z"/><path d="M15.7 15.7c4.52-4.54 6.54-9.87 4.5-11.9-2.03-2.04-7.36-.02-11.9 4.5-4.52 4.54-6.54 9.87-4.5 11.9 2.03 2.04 7.36.02 11.9-4.5Z"/></svg>
                    Ajouter
                </a> 
                
                <div class="newsletter flex justify-center align-center fixed gap bottom">
                    <p>Recevez notre newsletter</p>
                    
                    <input type="email" placeholder="Votre adresse email">
                    <button class="btn-green">S'inscrire</button>
                    <button class="close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                    </button>
                </div>
                {% endif %}
        </header>
    {% endblock %}

    {% block body %}
        <main class="container flex column">
            
            {% block content %}{% endblock %}
        </main>
    {% endblock %}  

    {% block footer %}
        <footer class="flex justify-center align-center">
            <div class="up">
                <svg width="800" height="600" xmlns="http://www.w3.org/2000/svg">
                <path fill-opacity="0" id="svg_1" d="m429,549c-23,-37 -8,-73 13,-82c21,-9 32,-44 10,-61" opacity="NaN" stroke="#000" fill="#0fffff"/>
                <path id="svg_2" d="m434,422l-6,-46l52,25l-30,1l-16,20z" opacity="NaN" stroke="#fff" fill="#000000"/>
                </svg>
            </div>
            <p>©2024 Demain c'est bien</p>
        </footer>
    {% endblock %}

    {% block bottom %}
        {{ assets.js('bottom')|raw }}
    {% endblock %}

    </body>
    <script type="text/javascript" src="{{ theme_url }}/js/demain.js"></script>
    <script src="{{ base_dir }}/node_modules/animejs/lib/anime.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
</html>
