<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
    
    <link rel="alternate" type="application/atom+xml" title="Demain c'est Bien" href="{{ base_url }}/event.atom" />
    <link rel="alternate" type="application/rss+xml" title="Demain c'est Bien" href="{{ base_url }}/event.rss" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
    {% do assets.addCss('theme://css/custom.css', 98) %}
    {% do assets.addCss('theme://css/style.css', 98) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
    <body class="{{ page.header.body_classes|e }} relative">
    {% block header %}
    
        <header>
                <a class="logo" href="{{ home_url|e }}">
                    <img src="{{ theme_url }}/images/logo.svg">
                </a>
                <div class="gif-container">
                    <img class="gif" src="{{ theme_url }}/images/gif-banner.gif">
                </div> 
                <div class="giphy fixed left" style="background-image:url('{{ theme_url }}/images/giphy.gif')">
                </div>
                
                {% if pages.header.template == events %} 
                    {% block header_navigation %}
                        {% include 'partials/navigation.html.twig' %}
                    {% endblock %}
                
                <div class="newsletter flex justify-center align-center fixed gap bottom">
                    <p>Recevez notre newsletter</p>
                    <input type="email" placeholder="Votre adresse email">
                    <button class="btn-green">S'inscrire</button>
                    <button class="close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                    </button>
                </div>
                {% endif %}
        </header>
    {% endblock %}

    {% block body %}
        <main class="container flex column">
            {% if pages.header.template == events %}       
            <section class="filter-container relative border-bottom border-dark border-w-large column align-start gap-sm">
                <!-- Filtre -->
                
                <div class="filter-wrapper border-bottom">
                    <p class="bold">Rechercher</p>
                    <label for="localisation">Localisation</label>
                    <select name="localisation" id="localisation">
                        <option value="loire">Loire</option>
                        <option value="rhone">Rhône</option>
                        <option value="puy-dome">Puy de Dôme</option>
                    </select> 
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date">
                </div>
                
                <!-- Tri -->
                <span class="sort-wrapper">
                    <label for="sort">Trier par</label>
                    <select name="sort" id="sort">
                        <option value="date">Date</option>
                        <option value="localisation">Localisation</option>
                        <option value="tarif">Tarif</option>
                    </select>
                </span>
            </section>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    {% endblock %}  
    {% set collection = page.collection() %}

    {# Render the list of blog posts (automatically filtered when using pagination) #}
    {% for child in collection %}
    ...
    {% endfor %}
    
    {# Render the pagination list #}
    {% if config.plugins.pagination.enabled and collection.params.pagination %}
        {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
    {% endif %}

    {% block footer %}
        <footer class="flex justify-center align-center">
            <p>© 2021 Demain c'est bien</p>
        </footer>
    {% endblock %}

    {% block bottom %}
        {{ assets.js('bottom')|raw }}
    {% endblock %}

    </body>
    <script type="text/javascript" src="{{ theme_url }}/js/demain.js"></script>
</html>
